@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko&display=swap");


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth !important;
  scroll-padding-top: 100px;
}

/* body { */
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
/* } */

body{
  background: #dfdfdf73;
  scroll-behavior: smooth;
}

@keyframes scrollBuyer {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-445px * 6.7)); }
}

.buyer-slider-home {
  overflow: hidden;
  position: relative;
  width: 100%;
  
}

.buyer-slide-home::before,
.buyer-slide-home::after {
  content: "";
  position: absolute;
  width: 200px;
  z-index: 2;
}

.buyer-slide-home::after {
  right: 0;
  top: 0;
  transform: rotateZ(90deg);
}

.buyer-slide-home::before {
  left: 0;
  top: 0;
}

.buyer-slide-track-home {
  animation: scrollBuyer 25s linear infinite;
  display: flex;
  width: calc(300px * 50);
}

.buyer-slide-home {
  width: 300px;
}


/* ///////// quotes  animation ////////// */

@keyframes slide {
  20% {margin-left: 0px;}
  30% {margin-left: -1220px;}
  50% {margin-left: -1220px;}
  60% {margin-left: -2460px;}
  70% {margin-left: -2460px;}
  /* 80% {margin-left: -3720px;}
  90% {margin-left: -3720px;} */
}


/* #slideshow {
  overflow: hidden;
  height: 210px;
  width: "40%";
  margin: 0 auto;
} */

.slide-wrapper {
  width: 3512px;
  animation: slide 28s ease infinite;
}

.slide {
  float: left;
  height: 410px;
  width: "80%";
}

.slide-number {
  color: #000;
  text-align: center;
  font-size: 10em;
}



/* /////////// Second Try //////// */

.carousel {
  width: 100%; /* Adjust the width as needed */
  overflow: hidden;
  position: relative;
}

.carousel-inner {
  display: flex;
  animation: slideCarousel 80s linear infinite;
  width: calc(400% - 100%); /* Adjust the width based on the number of carousel items */
}

/* .carousel-inner:hover {
  cursor: pointer;
  animation: none;
} */

.carousel-item {
  flex: 0 0 33.33%; /* Adjust the width based on the number of carousel items */
  transition: transform 0.5s;
}

.carousel-item img {
  width: 100%; /* Adjust the image width as needed */
  height: auto; /* Adjust the image height as needed */
}

@keyframes slideCarousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
